[global_config]
  title_transmit_fg_color = "#ffffff"
  title_transmit_bg_color = "#555753"
  title_inactive_fg_color = "#ffffff"
  title_inactive_bg_color = "#e2c938"

[profiles]
  [[default]]
    palette = "#555753:#ff0000:#5c8f37:#c4a000:#265aa2:#ce5c00:#038e82:#e5e5e5:#e2c938:#ff7272:#79d52d:#edd400:#6f9fcf:#f57900:#55aa7f:#d3d7cf"
    foreground_color = "#ffffff"
    background_color = "#3f3f3f"
    cursor_color = "#ffffff"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
